@import url("https://fonts.googleapis.com/css?family=Nunito+Sans:400,600,700,800,900&display=swap");

body,html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito Sans',sans-serif;
  font-size: 16px;
}
.container {
  background-color: #08192B;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 3fr 2fr 1fr;
  height: 100vh;
}
section {
  padding: 0 23px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.main {
  background: url('/images/m-background.png') no-repeat;
  background-size: cover;
  grid-row: 1 / 2;
}
.section-1 {
  border-top: 6px solid #0E2B47;
  color: white;
  padding-top: 100px;
  /* display: none; */
  min-height: 300px;
}
.hide-section {
  display: none;
}

.collapse {
  display: none
}
.title {
  font-size: 3.4em;
  line-height: 1em;
  color: #fff;
  margin: 0;
}
footer {
  background-color: #0E2B47;
  align-self: end;
  text-align: center;
  width: 100%;
  grid-row: 3 / -1;
}
footer .fa-exclamation-triangle {
  color: #FFB229;
  display: block;
  font-size: 80px;
  margin-top: 26px;
}
footer p {
  color: #fff;
  padding: 20px 15px;
  padding-top: 0;
}

@media (min-width: 992px) {
  body {
    font-size: 18px;
  }
  .main {
    background: url('/images/background.png');
    background-position: top center;
    background-size: cover;
  }
  footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  footer p {
    text-align: left;
    padding-top: 20px;
    width: 80ch;
  }
  footer .fa-exclamation-triangle {
    font-size: 60px;
    margin: 0;
  }
}

#information {
  max-width: 75vw;
}

#infoTitle {
  font-size: 3em;
  line-height: 1em;
  text-align: center;
  margin: 0 0 30px 0;
  color: #fff;
}

.infoHeaders {
    background-color: #0f2c46;
    max-width: 75vw;
    height: 75px;
    border-radius: 5px;
    padding: 1px 30px;
    margin-top:5px;
    display: flex;
    justify-content: space-between;
}

.infoHeaders h2{
  margin-top: 5px;
}

.arrows {
  object-fit: contain;
}

.infoInside {
  background-color: #1d4061;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 600;
  padding: 1.5em 3em;
  margin: 0;
}
p .infoInside {
  margin: 0;
}
#searchBarInput {
  width: 70vw;
  margin: 5vw;
  height: 13vh;
  border: 0;
  background-color: #0e2b47;
  color:rgba(255,255,255);
  font-family: 'Nunito Sans',sans-serif;
  font-size: 2em;
  padding: 2px 20px;
  font-weight: bold;
  border-radius: 5px;
}
li.dropdownOptions {
  list-style-type: none;
  color:white;
}