@import url("https://fonts.googleapis.com/css?family=Nunito+Sans:400,600,700,800,900&display=swap");

/* #region GLOBAL RESET STYLING */
body,html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito Sans',sans-serif;
  font-size: 16px;
}
@media (min-width: 992px) {
  body {
    font-size: 18px;
  }
}
.d-none {
  display: none;
}
/* #endregion */

/* #region CONTENT WRAPPER AND SECTION GLOBAL STYLING */
.container {
  background-color: #08192B;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 3fr 2fr 1fr;
  height: 100vh;
}
.row {
  padding: 0 23px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 1000px;
  margin: 0 auto;
}
/* #endregion */

/* #region SEARCH BAR */
.searchWrapper {
  background: url('/images/m-background.png') no-repeat;
  background-size: cover;
  padding-top: 150px;
  padding-bottom: 150px;
  grid-row: 1 / 2;
}
@media (min-width: 992px) {
  .searchWrapper {
    background: url('/images/background.png');
    background-position: top center;
    background-size: cover;
  }
}
#searchBarInput {
  width: 100%;
  margin-top: 60px;
  height: 10vh;
  border: 0;
  background-color: #0e2b47;
  color:rgba(255,255,255);
  font-family: 'Nunito Sans',sans-serif;
  font-size: 2em;
  padding: 2px 20px;
  font-weight: bold;
  border-radius: 5px 5px 0 0;
}
#searchBarInput:focus {
  outline: none;
}
::-webkit-input-placeholder { /* Edge */
  color: #fff;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #fff;
}
/*#endregion*/

/* #region DROP DOWN */
.foodOptions {
  position: relative;
  top: -1px;
  margin: 0;
  padding: 0;
  background-color: #0e2b47;
  width: 100%;
  border-radius: 0 0 5px 5px;
  max-height: 300px;
  overflow: scroll;
}
.foodOptions li {
  padding: 10px 20px;
  font-size: 2em;
  font-weight: bold;
}
.foodOptions li:focus, .foodOptions li:hover {
  background-color: #4AD295;
}
::placeholder {
  color: #fff;
}
li.dropdownOptions {
  list-style-type: none;
  color:white;
}
.no-suggestions {
  padding: 10px 20px;
  font-size: 2em;
  font-weight: bold;
  color: #fff;
}
/* #endregion */

/* #region CARD */
.cardWrapper {
  width: 100%;
  border-radius: 5px;
  font-weight: bold;
  font-size: 1.3em;
  margin-top: 60px;
}
.card {
  margin: 0;
  padding: 145px 10px 40px 10px;
  text-align: center;
  position: relative;
}
.card:before {
  content: '';
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 86px;
  position: absolute;
  top: 35px;
  left: calc(50% - 47px)
}
@media (min-width: 450px) {
  .card {
    padding: 145px 40px 60px 40px;
  }
}
@media (min-width: 992px) {
  .card {
    padding: 50px 95px;
    padding-left: 165px;
    text-align: left;
  }
  .card:before {
    left: 60px;
    top: calc(50% - 40px);
    font-size: 76px
  }
}
.allowed {
  background-color: #4AD295;
  color: #0E2B47;
}
.allowed .card:before {
  content: '\f058';
  color: #309467;
}
.harmful {
  background-color: #DA2C38;
  color: #0E2B47;
}
.harmful .card:before {
  content: '\f057';
  color: #9D1D26;
}
.limited {
  background-color: #FFB229;
  color: #0E2B47;
}
.limited .card:before {
  content: '\f06a';
  color: #AC7A21;
}
/* #endregion */

/* #region ACCORDION */
.accordionWrapper {
  background-color: #08192B;
  border-top: 6px solid #0E2B47;
  color: white;
  padding-top: 100px;
  padding-bottom: 100px;
  grid-row: 2 / 3;
}
.collapse {
  display: none
}
.title {
  font-size: 3.4em;
  line-height: 1em;
  color: #fff;
  margin: 0;
  text-align: center;
}
#information {
  width: 100%;
}
#infoTitle {
  font-size: 3em;
  line-height: 1em;
  text-align: center;
  margin: 0 0 30px 0;
  color: #fff;
}
.infoHeaders {
  background-color: #0f2c46;
  height: 4em;
  border-radius: 5px;
  padding: 0 20px;
  margin-top:5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.infoHeaders h2 {
  top: 50%;
  margin: 0;
  line-height: 1em;
  font-size: 1.3em;
}
.arrows {
  object-fit: contain;
}
.infoInside {
  height: 0px;
  background-color: #1d4061;
  border-radius: 3px;
  font-size: 18px;
  font-weight: 600;
  padding: 0;
  margin: 0;
  overflow: hidden;
  transition: all 0.3s ease-out;
}
.infoInside.expanded {
  height: 300px;
  transition: all 0.7s ease-out;
}
.infoInside p{
  margin: 0;
  padding: 1.5em 3em;
}
/* #endregion */

/* #region FOOTER */
footer {
  background-color: #0E2B47;
  align-self: end;
  text-align: center;
  grid-row: 3 / -1;
  padding: 0 23px;
}
footer .fa-exclamation-triangle {
  color: #FFB229;
  display: block;
  font-size: 80px;
  margin-top: 26px;
}
footer p {
  color: #fff;
  padding: 20px 15px;
  padding-top: 0;
}
@media (min-width: 992px) {
  footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  footer p {
    text-align: left;
    padding-top: 20px;
    width: 80ch;
  }
  footer .fa-exclamation-triangle {
    font-size: 60px;
    margin: 0;
  }
}
/* #endregion */